<a href="https://colab.research.google.com/github/KatBotkowska/Pandas-Numpy-exercices/blob/master/Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Lists</h1>
<li>Sequential, Ordered Collection

<h2>Creating lists</h2>

In [ ]:
x = [4,2,6,3] #Create a list with values
y = list() # Create an empty list
y = [] #Create an empty list
print(x)
print(y)

<h3>Adding items to a list</h3>

In [ ]:
x=list()
print(x)
x.append('One') #Adds 'One' to the back of the empty list
print(x)
x.append('Two') #Adds 'Two' to the back of the list ['One']
print(x)

In [ ]:
x.insert(0,'Half') #Inserts 'Half' at location 0. Items will shift to make roomw
print(x)

In [ ]:
x=list()
x.extend([1,2,3]) #Unpacks the list and adds each item to the back of the list
print(x)

<h3>Indexing and slicing</h3>

In [ ]:
x=[1,7,2,5,3,5,67,32]
print(len(x))
print(x[3])
print(x[2:5])
print(x[-1])
print(x[::-1])

<h3>Removing items from a list</h3>

In [ ]:
x=[1,7,2,5,3,5,67,32]
x.pop() #Removes the last element from a list
print(x)
x.pop(3) #Removes element at item 3 from a list
print(x)
x.remove(7) #Removes the first 7 from the list
print(x)

In [2]:
#removing all occurences from the list
my_list=[2,3,6,5,2,3,4,5]
def removes_values_from_list(list, value):
    return[x for x in list if x != value]
print(removes_values_from_list(my_list, 2))

[3, 6, 5, 3, 4, 5]

In [3]:
#removing all occurences from the list - second way with lambda
my_list=[2,3,6,5,2,3,4,5]
def removes_values_from_list_2(my_list, value):
    return list(filter(lambda a: a != value, my_list))
print(removes_values_from_list_2(my_list, 2))

[3, 6, 5, 3, 4, 5]

<h3>Anything you want to remove must be in the list or the location must be inside the list</h3>

In [ ]:
x.remove(20)

<h2>Mutablility of lists</h2>

In [ ]:
y=['a','b']
x = [1,y,3]
print(x)
print(y)
y[1] = 4
print(y)

In [ ]:
print(x)

In [ ]:
x="Hello"
print(x,id(x))
x+=" You!"
print(x,id(x)) #x is not the same object it was
y=["Hello"]
print(y,id(y))
y+=["You!"] 
print(y,id(y)) #y is still the same object. Lists are mutable. Strings are immutable

In [ ]:
def eggs(item,total=0):
    total+=item
    return total


def spam(elem,some_list=[]):
    some_list.append(elem)
    return some_list

In [ ]:
print(eggs(1))
print(eggs(2))

print(spam(1))
print(spam(2))

<h1>Iteration</h1>

<h2>Range iteration</h2>

In [ ]:
#The for loop creates a new variable (e.g., index below)
#range(len(x)) generates values from 0 to len(x) 
x=[1,7,2,5,3,5,67,32]
for index in range(len(x)):
    print(x[index])

In [ ]:
list(range(len(x)))

<h3>List element iteration</h3>

In [ ]:
x=[1,7,2,5,3,5,67,32]
for element in x: #The for draws elements - sequentially - from the list x and uses the variable "element" to store values
    print(element)

<h3>Practice problem</h3>

Write a function search_list that searches a list of tuple pairs and returns the value associated with the first element of the pair

In [ ]:
def search_list(list_of_tuples,value):
    #Write the function here

In [ ]:
prices = [('AAPL',96.43),('IONS',39.28),('GS',159.53)]
ticker = 'IONS'
print(search_list(prices,ticker))

<h1>Dictionaries</h1>

In [ ]:
mktcaps = {'AAPL':538.7,'GOOG':68.7,'IONS':4.6}

In [ ]:
mktcaps['AAPL'] #Returns the value associated with the key "AAPL"

In [ ]:
mktcaps['GS'] #Error because GS is not in mktcaps

In [ ]:
mktcaps.get('GS') #Returns None because GS is not in mktcaps

In [ ]:
mktcaps['GS'] = 88.65 #Adds GS to the dictionary
print(mktcaps)

In [ ]:
del(mktcaps['GOOG']) #Removes GOOG from mktcaps
print(mktcaps)

In [ ]:
mktcaps.keys() #Returns all the keys

In [ ]:
mktcaps.values() #Returns all the values